html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--primary-white-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --background-grey-color: #2f303a;
  --background-button-color: #f5f4fa;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --primary-black-color: #000000;
  --border-color: #eeeeee;
}

/* header */
.page-header {
  border-bottom: 1px solid #ececec;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
}

.header-container {
  display: block;
}

/* main-nav */
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav__logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  font-style: normal;
}

.main-nav__logo-span {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  font-style: normal;
  color: var(--primary-black-color);
}

.site-nav {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav--main-link {
  margin-bottom: 302px;
}

.site-nav__li {
  margin-left: 40px;
  margin-bottom: 32px;
}

.site-nav__li:last-child {
  margin-bottom: 0;
}

.site-nav__link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--first-page {
  position: relative;
  color: var(--accent-color);
}

/* Site nav */
.site-nav--secondary-link {
  margin-left: auto;
  margin-bottom: 64px;
}

.site-nav__link-nav {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link-nav:hover, .site-nav__link-nav:focus {
  color: var(--accent-color);
}

.site-nav__link-nav--tel {
  font-size: 34px;
  color: #2196f3;
}

.site-nav__envelope {
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.site-nav__smartphone {
  width: 10px;
  height: 16px;
  fill: currentColor;
}

.site-nav__envelope--div,
.site-nav__smartphone--div {
  display: none;
  margin-right: 10px;
}

.menu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
}

.menu-links__a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  border-right: 2px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  padding-right: 10px;
}

.menu-links__li {
  margin-left: 10px;
}

.menu-links__li:first-child {
  margin-left: 0;
}

.menu-links__li:last-child .menu-links__a {
  border: none;
}

.menu__button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: var(--title-text-color);
  z-index: 3;
}

.menu__button:hover,
.menu__button:focus {
  color: var(--accent-color);
}

.close_mob,
.menu_mob {
  fill: currentColor;
}

.menu__button .close_mob {
  display: none;
}

.menu__button.is-open .close_mob {
  display: block;
}

.menu__button.is-open .menu_mob {
  display: none;
}

.menu {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  height: 796px;
  background-color: white;
  z-index: 2;
}

.menu.is-open {
  display: block;
}

/* Banner */
.banner {
  letter-spacing: 0.06em;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Header1.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header1.jpg);
  max-height: 400px;
  max-width: 480px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Header@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header@2x.jpg);
  }
}

.banner__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  color: var(--primary-white-color);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.banner__button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  min-width: 200px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
}

/* superiority */
.section-superiority {
  padding-top: 94px;
}

.superioritys {
  display: block;
}

.superioritys__svg {
  background-color: var(--background-button-color);
  height: 120px;
  margin-bottom: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.superioritys__antenna, .superioritys__clock, .superioritys__diagram, .superioritys__astronaut {
  width: 70px;
  height: 70px;
}

.superioritys__section-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
  text-align: center;
}

.superioritys__text {
  color: var(--primary-text-color);
}

.superioritys__li {
  padding-bottom: 30px;
}

/* type-of-work */
.section--hidden {
  display: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.type-of-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.type-of-work__li {
  margin-left: 30px;
}

.type-of-work__li:first-child {
  margin-left: 0;
}

.thumb-work {
  position: relative;
}

.thumb-work-decoration {
  position: absolute;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thumb-work-decoration__text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* Our team */
.section--our-team {
  background-color: var(--background-button-color);
}

.team__li {
  margin-bottom: 30px;
  background-color: var(--primary-white-color);
}

.team__li:last-child {
  margin-bottom: 0;
}

.team__li--shadow {
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.name-decoration {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.name-decoration__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.name-decoration__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--primary-text-color);
}

.team-svg {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 206px;
  height: 44px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-svg__li {
  margin-left: 10px;
}

.team-svg__li:first-child {
  margin-left: 0;
}

.team-svg__link-decoration {
  color: #afb1b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-svg__link-decoration:hover, .team-svg__link-decoration:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.team-svg__team-link {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Regular customers */
.regular-customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.regular-customers__li {
  margin: 15px;
}

.regular-customers__svg {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 32px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers__svg:hover, .regular-customers__svg:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.regular-customers__union {
  width: 41px;
  height: 47px;
  fill: currentColor;
}

.regular-customers__company {
  width: 40px;
  height: 52px;
  fill: currentColor;
}

.regular-customers__object {
  width: 43px;
  height: 41px;
  fill: currentColor;
}

.regular-customers__foster {
  width: 84px;
  height: 41px;
  fill: currentColor;
}

.regular-customers__brand {
  width: 63px;
  height: 45px;
  fill: currentColor;
}

.regular-customers__tag {
  width: 94px;
  height: 44px;
  fill: currentColor;
}

/* Foother */
.foother {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-grey-color);
}

.foother-container {
  display: block;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-align: center;
}

.foother-container__address-logo {
  display: block;
  margin-bottom: 20px;
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  font-style: normal;
}

.foother-container__logo-span {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  font-style: normal;
  color: var(--primary-white-color);
}

.address {
  margin-bottom: 60px;
}

.address__city {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-decoration: none;
  font-style: normal;
}

.feedback {
  margin-top: 9px;
}

.feedback__address-nav {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-decoration: none;
  font-style: normal;
  display: inline-block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback__address-nav:hover, .feedback__address-nav:focus {
  color: var(--accent-color);
}

/* join */
.foother-div {
  margin-bottom: 60px;
}

.foother-div__text {
  font-style: normal;
  color: var(--primary-white-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
}

.link-foother {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 206px;
  height: 44px;
}

.link-foother__li {
  margin-left: 10px;
}

.link-foother__li:first-child {
  margin-left: 0px;
}

.link-foother__decoration {
  color: var(--primary-white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-foother__decoration:hover, .link-foother__decoration:focus {
  background-color: var(--accent-color);
}

.link-foother__team-link {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* subscribe */
.foother-submit {
  margin-left: auto;
}

.foother-submit__text {
  font-style: normal;
  color: var(--primary-white-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
}

.form-foother {
  margin-top: 20px;
  display: block;
}

.label-foother {
  position: relative;
}

.label-foother__input {
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 65px;
  color: rgba(255, 255, 255, 0.6);
  width: 450px;
  height: 50px;
}

.label-foother__mail {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 16px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.submit-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  margin-top: 30px;
}

.submit-button__span {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.submit-button__svg {
  width: 24px;
  height: 24px;
  fill: var(--primary-white-color);
  margin-left: 10px;
}

/* backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  z-index: 3;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  background-color: var(--primary-white-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  opacity: 0;
}

.modal__button {
  position: absolute;
  background-color: var(--primary-white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: var(--primary-black-color);
  margin: 8px 8px 571px 412px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover, .modal__button:focus {
  color: var(--accent-color);
}

.modal__svg {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.modal__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 40px;
  padding-left: 55px;
  padding-right: 55px;
}

.modal-form {
  margin-left: 41px;
  width: 370px;
  margin-top: 12px;
}

.modal-label {
  display: block;
  position: relative;
  margin-top: 10px;
}

.modal-label__name {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-label__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label__input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
  outline: none;
}

.modal-label__icon {
  position: absolute;
  top: 55%;
  left: 0;
  -webkit-transform: translateX(12px);
          transform: translateX(12px);
  width: 18px;
  height: 18px;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label__input:focus + .modal-label__icon {
  cursor: pointer;
  color: var(--accent-color);
}

.modal-label__text-area {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label__text-area:focus {
  border-color: var(--accent-color);
  cursor: pointer;
  outline: none;
}

.checkbox-label {
  display: block;
  margin-top: 20px;
  text-align: center;
}

.checkbox-label__input {
  -webkit-appearance: none;
  position: absolute;
}

.checkbox-label__chek {
  display: inline-block;
  width: 16px;
  height: 15px;
  border-color: var(--title-text-color);
  border: 2px solid;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), background-size 250ms cubic-bezier(0.4, 0, 0.2, 1), background-origin 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), background-size 250ms cubic-bezier(0.4, 0, 0.2, 1), background-origin 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-label__agreement {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox-label__link {
  color: var(--accent-color);
}

.checkbox-label__input:checked + .checkbox-label__chek {
  background-color: var(--accent-color);
  background-image: url(../images/full-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}

.checkbox-label__input:focus + .checkbox-label__chek {
  border-color: var(--accent-color);
}

.submit-modal {
  background-color: #188ce8;
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 62px;
  padding-right: 62px;
}

/* PORTFOLIO */
.site-nav__link--second-page {
  position: relative;
  color: var(--accent-color);
}

/* Buttons */
.buttons {
  margin-bottom: 50px;
}

.buttons__li {
  margin-left: 8px;
  display: inline-block;
  margin-bottom: 15px;
}

.buttons__li:nth-child(4), .buttons__li:nth-child(5) {
  margin-bottom: 0;
}

.buttons__projects {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--background-button-color);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons__projects:hover, .buttons__projects:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* Projects */
.gallery {
  display: block;
}

.gallery__li {
  margin-bottom: 30px;
}

.gallery__li:last-child {
  margin-bottom: 0;
}

.gallery-link {
  text-decoration: none;
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link:hover, .gallery-link:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.thumb-decoration {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 63px 24px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb-decoration__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.gallery-link:hover .thumb-decoration,
.gallery-link:focus .thumb-decoration {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.gallery-border {
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.gallery-border__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.gallery-border__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-text-color);
}
/*# sourceMappingURL=main.css.map */