html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--primary-white-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --background-grey-color: #2f303a;
  --background-button-color: #f5f4fa;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --primary-black-color: #000000;
  --border-color: #eeeeee;
}

/* header */
.page-header {
  border-bottom: 1px solid #ececec;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .page-header {
    padding-bottom: 25px;
  }
}

.header-container {
  display: block;
}

/* main-nav */
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .main-nav {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .main-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main-nav__logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  font-style: normal;
}

.main-nav__logo-span {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  font-style: normal;
  color: var(--primary-black-color);
}

.site-nav {
  display: block;
}

@media screen and (max-width: 767px) {
  .site-nav--main-link {
    margin-bottom: 302px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav--main-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
}

.site-nav__li {
  margin-right: 50px;
}

.site-nav__li:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .site-nav__li {
    margin-bottom: 32px;
  }
}

.site-nav__li:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .site-nav--secondary-link > .site-nav__li:last-child {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1199px) {
  .site-nav--secondary-link > .site-nav__li:first-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav--secondary-link > .site-nav__li:first-child {
    margin-right: 0;
  }
  .site-nav--secondary-link > .site-nav__li:last-child {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.site-nav__link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    font-size: 14px;
  }
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--first-page {
  position: relative;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .site-nav__link--first-page::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav__link--first-page::after {
    margin-top: 22px;
  }
}

/* Site nav */
.site-nav--secondary-link {
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .site-nav--secondary-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (max-width: 767px) {
  .site-nav--secondary-link {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav--secondary-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.site-nav__link-nav {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .site-nav__link-nav {
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-nav__link-nav:hover, .site-nav__link-nav:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .site-nav__link-nav--tel {
    font-size: 34px;
    color: #2196f3;
  }
}

.site-nav__envelope {
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.site-nav__smartphone {
  width: 10px;
  height: 16px;
  fill: currentColor;
}

.site-nav__envelope--div,
.site-nav__smartphone--div {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .site-nav__envelope--div,
  .site-nav__smartphone--div {
    display: none;
  }
}

.menu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .menu-links {
    display: none;
  }
}

.menu-links__a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  border-right: 2px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  padding-right: 10px;
}

.menu-links__li {
  margin-left: 10px;
}

.menu-links__li:first-child {
  margin-left: 0;
}

.menu-links__li:last-child .menu-links__a {
  border: none;
}

.menu__button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: var(--title-text-color);
  z-index: 3;
}

@media screen and (min-width: 768px) {
  .menu__button {
    display: none;
  }
}

.menu__button:hover,
.menu__button:focus {
  color: var(--accent-color);
}

.close_mob,
.menu_mob {
  fill: currentColor;
}

.menu__button .close_mob {
  display: none;
}

.menu__button.is-open .close_mob {
  display: block;
}

.menu__button.is-open .menu_mob {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu.is-open {
  display: block;
}

@media screen and (max-width: 767px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2;
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .menu {
    margin-left: 93px;
  }
}

/* Banner */
.banner {
  letter-spacing: 0.06em;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Header1.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Header@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .banner {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;
  }
}

.banner__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  color: var(--primary-white-color);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.banner__button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  min-width: 200px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
}

@media screen and (min-width: 481px) {
  .banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet-head.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-head.jpg);
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet-head@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-head@2x.jpg);
  }
}

@media screen and (min-width: 769px) {
  .banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop-head.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop-head.jpg);
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop-head@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop-head@2x.jpg);
  }
}

/* superiority */
.section-superiority {
  padding-top: 94px;
}

@media screen and (max-width: 1199px) {
  .section-superiority {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .superioritys {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .superioritys {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.superioritys__svg {
  background-color: var(--background-button-color);
  height: 120px;
  margin-bottom: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.superioritys__antenna, .superioritys__clock, .superioritys__diagram, .superioritys__astronaut {
  width: 70px;
  height: 70px;
}

.superioritys__section-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .superioritys__section-description {
    text-align: center;
  }
}

.superioritys__text {
  color: var(--primary-text-color);
}

.superioritys__li {
  margin-bottom: 30px;
}

.superioritys__li:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .superioritys__li {
    margin: 15px;
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .superioritys__li {
    width: 270px;
  }
}

/* type-of-work */
.section--hidden {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section--hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.type-of-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.type-of-work__li {
  margin-left: 30px;
}

.type-of-work__li:first-child {
  margin-left: 0;
}

.thumb-work {
  position: relative;
}

.thumb-work-decoration {
  position: absolute;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thumb-work-decoration__text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* Our team */
.section--our-team {
  background-color: var(--background-button-color);
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team__li {
  background-color: var(--primary-white-color);
}

@media screen and (max-width: 767px) {
  .team__li {
    margin-bottom: 30px;
  }
  .team__li:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .team__li {
    width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__li {
    width: 270px;
  }
}

.team__li--shadow {
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.name-decoration {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.name-decoration__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.name-decoration__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--primary-text-color);
}

.team-svg {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 206px;
  height: 44px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-svg__li {
  margin-left: 10px;
}

.team-svg__li:first-child {
  margin-left: 0;
}

.team-svg__link-decoration {
  color: #afb1b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-svg__link-decoration:hover, .team-svg__link-decoration:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.team-svg__team-link {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Regular customers */
.regular-customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

@media screen and (min-width: 1200px) {
  .regular-customers {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.regular-customers__li {
  margin: 15px;
}

.regular-customers__svg {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 32px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .regular-customers__svg {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .regular-customers__svg {
    width: 170px;
  }
}

.regular-customers__svg:hover, .regular-customers__svg:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.regular-customers__union {
  width: 41px;
  height: 47px;
  fill: currentColor;
}

.regular-customers__company {
  width: 40px;
  height: 52px;
  fill: currentColor;
}

.regular-customers__object {
  width: 43px;
  height: 41px;
  fill: currentColor;
}

.regular-customers__foster {
  width: 84px;
  height: 41px;
  fill: currentColor;
}

.regular-customers__brand {
  width: 63px;
  height: 45px;
  fill: currentColor;
}

.regular-customers__tag {
  width: 94px;
  height: 44px;
  fill: currentColor;
}

/* Foother */
.foother {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-grey-color);
}

.foother-container__tablet {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .foother-container__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .foother-container__tablet {
    margin-bottom: 0;
  }
}

.foother-container {
  display: block;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .foother-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: start;
  }
}

.foother-container__address-logo {
  display: block;
  margin-bottom: 20px;
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  font-style: normal;
}

.foother-container__logo-span {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  font-style: normal;
  color: var(--primary-white-color);
}

@media screen and (min-width: 1200px) {
  .address {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .address-div {
    margin-bottom: 60px;
  }
}

.address__city {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-decoration: none;
  font-style: normal;
}

.feedback {
  margin-top: 9px;
}

.feedback__address-nav {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-decoration: none;
  font-style: normal;
  display: inline-block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback__address-nav:hover, .feedback__address-nav:focus {
  color: var(--accent-color);
}

/* join */
@media screen and (min-width: 1200px) {
  .foother-div {
    margin-bottom: 0;
    margin-left: 70px;
  }
}

.foother-div__text {
  font-style: normal;
  color: var(--primary-white-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
}

.link-foother {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 206px;
  height: 44px;
}

.link-foother__li {
  margin-left: 10px;
}

.link-foother__li:first-child {
  margin-left: 0px;
}

.link-foother__decoration {
  color: var(--primary-white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-foother__decoration:hover, .link-foother__decoration:focus {
  background-color: var(--accent-color);
}

.link-foother__team-link {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* subscribe */
.foother-submit {
  margin-left: auto;
}

.foother-submit__text {
  font-style: normal;
  color: var(--primary-white-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
}

.form-foother {
  margin-top: 20px;
  display: block;
}

@media screen and (min-width: 1200px) {
  .form-foother {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.label-foother {
  position: relative;
}

.label-foother__input {
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 65px;
  color: rgba(255, 255, 255, 0.6);
  width: 450px;
  height: 50px;
}

@media screen and (min-width: 1200px) {
  .label-foother__input {
    width: 358px;
  }
}

.label-foother__mail {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 16px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .label-foother__mail {
    margin-top: 15px;
  }
}

.submit-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .submit-button {
    margin-top: 0;
    margin-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.submit-button__span {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.submit-button__svg {
  width: 24px;
  height: 24px;
  fill: var(--primary-white-color);
  margin-left: 10px;
}

/* backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  z-index: 3;
}

@media screen and (max-width: 767px) {
  .backdrop {
    overflow-y: scroll;
  }
}

@media screen and (min-width: 768px) {
  .backdrop {
    padding-left: 159px;
    padding-right: 159px;
    padding-top: 104px;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop {
    padding: 0;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  background-color: var(--primary-white-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.9);
            transform: translate(-50%, -50%) scale(0.9);
  }
}

.backdrop.is-hidden .modal {
  opacity: 0;
}

@media screen and (min-width: 1200px) {
  .backdrop.is-hidden .modal {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

.modal__button {
  position: absolute;
  background-color: var(--primary-white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: var(--primary-black-color);
  margin: 8px 8px 571px 412px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal__button {
    margin: 8px 8px 543px 490px;
  }
}

.modal__button:hover, .modal__button:focus {
  color: var(--accent-color);
}

.modal__svg {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.modal__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 40px;
  padding-left: 55px;
  padding-right: 55px;
}

@media screen and (min-width: 1200px) {
  .modal__header {
    line-height: 1.15;
    margin-top: 40px;
    padding: 0;
  }
}

.modal-form {
  margin-left: 41px;
  width: 370px;
  margin-top: 12px;
}

@media screen and (min-width: 1200px) {
  .modal-form {
    width: 448px;
  }
}

.modal-label {
  display: block;
  position: relative;
  margin-top: 10px;
}

.modal-label__name {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-label__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label__input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
  outline: none;
}

.modal-label__icon {
  position: absolute;
  top: 55%;
  left: 0;
  -webkit-transform: translateX(12px);
          transform: translateX(12px);
  width: 18px;
  height: 18px;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label__input:focus + .modal-label__icon {
  cursor: pointer;
  color: var(--accent-color);
}

.modal-label__text-area {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label__text-area:focus {
  border-color: var(--accent-color);
  cursor: pointer;
  outline: none;
}

.checkbox-label {
  display: block;
  margin-top: 20px;
  text-align: center;
}

.checkbox-label__input {
  -webkit-appearance: none;
  position: absolute;
}

.checkbox-label__chek {
  display: inline-block;
  width: 16px;
  height: 15px;
  border-color: var(--title-text-color);
  border: 2px solid;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), background-size 250ms cubic-bezier(0.4, 0, 0.2, 1), background-origin 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), background-size 250ms cubic-bezier(0.4, 0, 0.2, 1), background-origin 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-label__agreement {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox-label__link {
  color: var(--accent-color);
}

.checkbox-label__input:checked + .checkbox-label__chek {
  background-color: var(--accent-color);
  background-image: url(../images/full-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}

.checkbox-label__input:focus + .checkbox-label__chek {
  border-color: var(--accent-color);
}

.submit-modal {
  background-color: #188ce8;
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 62px;
  padding-right: 62px;
}

/* PORTFOLIO */
.site-nav__link--second-page {
  position: relative;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .site-nav__link--second-page::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav__link--second-page::after {
    margin-top: 22px;
  }
}

/* Buttons */
.buttons {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.buttons__li {
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .buttons__li {
    margin-bottom: 15px;
  }
}

.buttons__li:nth-child(1) {
  margin-right: 8px;
}

.buttons__li:nth-child(2) {
  margin-right: 8px;
}

.buttons__li:nth-child(4) {
  margin-right: 8px;
}

.buttons__li:nth-child(4), .buttons__li:nth-child(5) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .buttons__li {
    margin-right: 8px;
  }
  .buttons__li:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .buttons__li {
    margin-bottom: 0;
  }
}

.buttons__projects {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--background-button-color);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons__projects:hover, .buttons__projects:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* Projects */
.gallery {
  display: block;
}

@media screen and (min-width: 768px) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .gallery__li {
    margin: 15px;
    width: 354px;
  }
}

@media screen and (max-width: 767px) {
  .gallery__li {
    margin-bottom: 30px;
  }
  .gallery__li:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__li {
    width: 370px;
  }
}

.gallery-link {
  text-decoration: none;
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link:hover, .gallery-link:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.thumb-decoration {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 63px 24px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb-decoration__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.gallery-link:hover .thumb-decoration,
.gallery-link:focus .thumb-decoration {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.gallery-border {
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.gallery-border__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.gallery-border__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-text-color);
}
/*# sourceMappingURL=main.css.map */