.menu__button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  color: var(--title-text-color);
  z-index: 3;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu__button:hover,
.menu__button:focus {
  color: var(--accent-color);
}

.close_mob,
.menu_mob {
  fill: currentColor;
}

.menu__button .close_mob {
  display: none;
}

.menu__button.is-open .close_mob {
  display: block;
}

.menu__button.is-open .menu_mob {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  // justify-content: center;
  // padding-left: 40px;
  // margin-left: 88px;
  &.is-open {
    display: block;
  }

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
  }

  @media screen and (max-width: 767px) {
    position: fixed;
    left: 0;
    width: 100%;
    // height: 796px;
    height: 100%;
    background-color: white;
    z-index: 2;
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-left: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
