/* type-of-work */

.section--hidden {
  display: none;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

    margin-bottom: 50px;
  }
}

.type-of-work {
  display: flex;
}

.type-of-work__li {
  margin-left: 30px;

  &:first-child {
    margin-left: 0;
  }
}

.thumb-work {
  position: relative;
}

.thumb-work-decoration {
  position: absolute;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  transform: translateY(-100%);

  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
  }
}
